.profile-card {
    max-width: 300px;
    max-height: 80%;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;

}

.profile-card img {
    transition: all linear 0.25s;
    min-height: 370px;
    object-fit: cover;
}

.profile-card .profile-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin-bottom: 15px;
    transition: all linear 0.25s;
}

.profile-card .profile-button {
    position: absolute;
    bottom: 10px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.profile-card .profile-username {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.profile-card .profile-button {
    margin: 5px;
}

.profile-card:hover img {
    filter: grayscale(100%);
}

.profile-card:hover .profile-name {
    bottom: 80px;
}

.profile-card:hover .profile-username {
    bottom: 60px;
}

.profile-card:hover .profile-button {
    right: 40px;
    background-color: #b29507 !important;
    border-color: #b29507 !important;
    color: #323232 !important;
}
.profile-button{
    background-color: #323232 !important;
    border-color: #323232 !important;
    color: #b29507!important;

}
