.logo{
    width: 100px;
}
.tittle-home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tittle-home a {
    text-decoration: none;
    text-align: center;
    color: #b79a0a;
    text-transform: uppercase;
    border: 1px solid;
    padding: 1%;
}
